.content-padded
  h3 Get more information about:

ul.list.inset
  li
    a.nocd.transitions(href='#transitions')
      | Transitions
      span.chevron
  li
    a.nocd.regions(href='#regions')
      | Regions
      span.chevron