.content-padded
  h3 Get more information about:

ul.list.inset
  li
    a.nocd.transitions(href='#transitions')
      i.icon-exchange.icon-large
      |  Transitions
      span.chevron
  li
    a.nocd.regions(href='#regions')
      i.icon-tasks.icon-large
      |  Regions
      span.chevron