.content-padded
  h3 Controls and Styles:

  p Juggler pulls in the gorgeous styles of ratchet.

.content-padded
  p Here are some examples:

ul.list.inset
  li
    a.nocd(href='javascript:;')
      | List item 1
      span.chevron
      span.count 4
  li
    a.nocd(href='javascript:;')
      | List item 2
      span.chevron
  li
    | List item 3
    a.button(href='javascript:;') Button
  li
    | List item 4
    .toggle
      .toggle-handle

.content-padded
  a.button-main.button-block Block button
  
.content-padded
  a.button Button
  |  
  a.button-main Button
  |  
  a.button-positive Button
  |  
  a.button-negative Button

.content-padded
  a.button 
    | Count button
    span.count 1
  |  
  a.button-main 
    | Count button
    span.count 1

.content-padded
  p 
    | For more examples go to the 
    a(href="http://maker.github.com/ratchet/", target="_blank") ratchet website.