.content-padded
  h3 try out:

ul.list.inset
  li
    a.nocd.transitionSlide(href='#regions/title')
      | Title-Bar
      span.chevron
  li
    a.nocd.transitionSlide(href='#regions/titleSegmented')
      | Title-Bar Segmented
      span.chevron
  li
    a.nocd.transitionSlide(href='#regions/header')
      | Header-Bar
      span.chevron
  li
    a.nocd.transitionFade(href='#regions/headerSecond')
      | Header-Bar and SecondHeader
      span.chevron
  li
    a.nocd.transitionStack(href='#regions/tab')
      | Tab
      span.chevron