.content-padded
  h3 try out:

ul.list.inset
  li
    a.nocd.transitionSlide(href='javascript:;')
      | Slide
      span.chevron
  li
    a.nocd.transitionFade(href='javascript:;')
      | Fade
      span.chevron
  li
    a.nocd.transitionStack(href='javascript:;')
      | Stack
      span.chevron
  li
    a.nocd.transitionNoEffect(href='javascript:;')
      | NoEffect
      span.chevron