.content-padded
  h3 try out:

ul.list.inset
  li
    a.nocd.transitionSlide(href='#transitions/transition-slide')
      | Slide
      span.chevron
  li
    a.nocd.transitionFade(href='#transitions/transition-fade')
      | Fade
      span.chevron
  li
    a.nocd.transitionStack(href='#transitions/transition-stack')
      | Stack
      span.chevron
  li
    a.nocd.transitionNoEffect(href='#transitions/transition-noeffect')
      | NoEffect
      span.chevron