.content-padded
  h3 try out:

ul.list.inset
  li
    a.nocd.transitionSlide(href='#transitions/transition-slide')
      i.icon-backward.icon-large
      |  Slide
      span.chevron
  li
    a.nocd.transitionSlide(href='#transitions/transition-slide-reverse')
      i.icon-forward.icon-large
      |  Slide-reverse
      span.chevron
  li
    a.nocd.transitionFade(href='#transitions/transition-fade')
      i.icon-exchange.icon-large
      |  Fade
      span.chevron
  li
    a.nocd.transitionStack(href='#transitions/transition-stack')
      i.icon-step-backward.icon-large
      |  Stack
      span.chevron
  li
    a.nocd.transitionNoEffect(href='#transitions/transition-noeffect')
      i.icon-remove.icon-large
      |  NoEffect
      span.chevron