# Can ignore specific files
.settings.xml
.monitor
public/css/main.css
public/js/client.css
public/js/client.min.css
sessions.db
.DS_Store
*.orig
npm-debug.log
.cloudnode.appconfig
new.ns.*
test/cookies*

# Use wildcards as well
*~
#*.swp

# Can also ignore all directories and files in a directory.
node_modules
node_modules/**/*
#build
#build/**/*
screenshots
screenshots/**/*

# exclude generated assets
client/dist/**/*
client/assets/css/main.css
client/assets/templates/*

# exclude images
uploads/*
public/img/avatars/*