body {
    margin: 0;
}

#container {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
}

div[data-role="header"] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

div[data-role="content"] {
    position: absolute;
    top: 41px;
    bottom: 0;
    left: 0;
    right: 0;
}

.scrollable {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
