.device
  &.iphone
    background-image: url('../devices/iphone.png')
    background-repeat: no-repeat
    width: 375px
    height: 806px
    padding: 147px 0 0 27px
    // position: absolute;
    // top: 0px;
    // right: 10%;
    // margin-right: -28px;

    iframe
      width: 320px
      height: 548px
      padding: 0
      margin: 0
      border: none
      