.hero-unit
	h2
		color: $darkGray
		font-size: 45px
		margin: 0 0 20px 0

	p.lead
		color: $mediumGray
		font-size: 30px
		padding: 0 20px
		margin: 0 0 40px 0

		strong
			color: darken($mediumGray, 10)

	ol
		font-size: 16px

		li
			line-height: 30px